<!DOCTYPE html>
<html>

    <head>
        <title>pitch deck</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="flex-grid">
            {{>sidenav}}
            <div class="main-content">
                {{{body}}}
            </div>
        </div>
    </body>
</html>