<div class="list-group decks-list">
    {{#each decks}}
        <a href="#" 
            class="list-group-item list-group-item-action" 
            onclick="window.location.href=`/deck?username=${localStorage.getItem('username')}&filename={{this}}`;return false;">
            
                {{this}}

            </a>
    {{/each}}
</div>